- https://lnkd.in/eaC5hfaa
- https://lnkd.in/ehe5VFQV
- https://lnkd.in/eMbrw8Yh
- https://lnkd.in/eg2hEzD6
- https://lnkd.in/ejY9ed3R
- https://lnkd.in/eNP8geMw
- https://lnkd.in/emY_RaxM
- https://lnkd.in/ezSHZtkP
- https://lnkd.in/eAkbPfjb
- https://lnkd.in/ekAsN67R
- https://lnkd.in/ecMuhNRJ
- https://lnkd.in/eTs6dnYr
- https://lnkd.in/efvkpvJ8
- https://lnkd.in/ezh6Fv9J
- https://lnkd.in/eH9TRvDa
- https://lnkd.in/eqFsYNWq
- https://lnkd.in/esPPaCR3
- https://lnkd.in/eTkmSn3U
- https://lnkd.in/eE8-JaeA
- https://lnkd.in/eBGSbNYE
- https://lnkd.in/eMj3jsbn
- https://lnkd.in/eyHQGZKv
- https://lnkd.in/eibujp7h
- https://lnkd.in/e6kgR36n
- https://lnkd.in/e8SrnqxQ
- https://lnkd.in/eqCrQet7
- https://lnkd.in/eSfxgqgz
- https://lnkd.in/eMmfBeUq
- https://lnkd.in/ecAkWpBm
- https://lnkd.in/eW8p6v7c
- https://lnkd.in/etdM6dnU
- https://lnkd.in/eZyt94bt
- https://lnkd.in/eurUPNth
- https://lnkd.in/e6s5eXfj
- https://lnkd.in/e7deX-a5
- https://lnkd.in/em7ii5xg
- https://lnkd.in/eh7_Syhi
- https://lnkd.in/ezYSt2tm
- https://lnkd.in/efS5nVPG
- https://lnkd.in/eSJevkrt
- https://lnkd.in/eQ7Kt-x7
- https://lnkd.in/ek7CXVAW
- https://lnkd.in/exbwhtV4
- https://lnkd.in/eCENY7B7
- https://lnkd.in/eXRF6huD
- https://lnkd.in/eiKedG8D
- https://lnkd.in/ep-iFw4f
- https://lnkd.in/eKg_QSm3
- https://lnkd.in/e32MME4r
- https://lnkd.in/eQUatjPt

###  Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.### 
You may assume that each input would have exactly one solution, and you may not use the same element twice### 

You can return the answer in any or

Example 1:

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].der.

In [29]:
nums = [2,7,11,15]
target = 17
def sum_check(nums,target):
    for i in range(len(nums)):
        for j in range(i+1, len(nums)):
            if nums[i] + nums[j] == target:
                first_val = nums.index(nums[i])
                second_val = nums.index(nums[j])
                print([first_val,second_val])

sum_check(nums,target)

[0, 3]

In [31]:
nums = [2,6,1,4]
target = 10

sum_check(nums,target)

[1, 3]

# Maximum Subarray
### Given an integer array nums, find the 
subarra
 with the largest sum, and return its suargest sum 23.m.

### Example 1:
Input: nums = [-2,1,-3,4,-1,2,1,-5,4] Output: 6
Explanation: The subarray [4,-1,2,1] has the largest sum 6.

### Example 2:
Input: nums = [1] Output: 1
Explanation: The subarray [1] has the largest sum 1.

### Example 3:
Input: nums = [5,4,-1,7,8] Output: 23
Explanation: The subarray [5,4,-1,7,8] has the largest sum 23.

In [99]:
nums = [-2,1,-3,4,-1,2,1,-5,4]
def max_subarray(nums):
    sorted_list = list(set(sorted(nums)))
    positv_num = [i for i in sorted_list if i > 0]
    neg_num = [i for i in sorted_list if i and i < 0]
    final_list = positv_num + [neg_num[0]]
    return sorted(final_list, reverse=True)
print(max_subarray(nums))

[4, 2, 1, -1]

In [95]:
nums = [1]
print(max_subarray(nums))

IndexError: list index out of range

In [101]:
nums = [5,4,-1,7,8]
print(max_subarray(nums))

[8, 7, 5, 4, -1]

# Best Time to Buy and Sell Stock

You are given an array prices where prices[i] is the price of a given stock on the ith day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

 

Example 1:

Input: prices = [7,1,5,3,6,4]
Output: 5
Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.
Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.

https://leetcode.com/problems/best-time-to-buy-and-sell-stock/description/

In [115]:
prices = [7,1,5,3,6,4]
def Best2Sell(prices):
    sell_day = max(prices[1:])
    buy_day = min(prices)
    return print(f"The buy day should be day {prices.index(buy_day)+1 } and sell day should be day {prices.index(sell_day)+1} so that max profit could be {sell_day - buy_day}")
Best2Sell(prices)

The buy day should be day 2 and sell day should be day 5 so that max profit could be 5

# Reverse Linked List

Given the head of a singly linked list, reverse the list, and return the reversed list.

Example 1:

Input: head = [1,2,3,4,5]
Output: [5,4,3,2,1]

https://leetcode.com/problems/reverse-linked-list/description/

In [125]:
head = [1,2,3,4,5]
def reverse_list(head):
    return head[::-1]
reverse_list(head)

[5, 4, 3, 2, 1]

# Merge Two Sorted Lists

You are given the heads of two sorted linked lists list1 and list2.

Merge the two lists into one sorted list. The list should be made by splicing together the nodes of the first two lists.

Return the head of the merged linked list
Input: list1 = [1,2,4], list2 = [1,3,4]
Output: [1,1,2,3,4,4]

https://leetcode.com/problems/merge-two-sorted-lists/description/

In [170]:
list1 = [1,2,4]
list2 = [1,3,4]
#list3 = []
def merge_list(list1,list2):
    new_list = list(zip(list1,list2))
    list3 = []
    for i in new_list:
        list3.extend(list(i))
    if len(list1) > len(list2):
        list3.extend(list1[len(list2):])
    elif len(list2) > len(list1):
        list3.extend(list2[len(list1):])
    return list3

merge_list(list1,list2)

[1, 1, 2, 3, 4, 4]

In [172]:
list1 = [1,3,5]
list2 = [2,4,6]
merge_list(list1,list2)

[1, 2, 3, 4, 5, 6]

In [174]:
list1 = []
list2 = [0]
merge_list(list1,list2)

[0]

In [176]:
list1 = []
list2 = []
merge_list(list1,list2)

[]

## Palindrome Linked List

Given the head of a singly linked list, return true if it is a palindrome or false otherwise.

Input: head = [1,2,2,1]
Output: true

Input: head = [1,2]
Output: false

In [6]:
l = [1,2,2,1]
def check_palindrome(l):
    if l == l[::-1]:
        result = True
    else:
        result = False
    return result
check_palindrome(l)

True

In [8]:
l = [1,2]
check_palindrome(l)

False

## Middle of the Linked List node.

Given the head of a singly linked list, return the middle node of the linked list.
If there are two middle nodes, return the second middle node.

Input: head = [1,2,3,4,5]
Output: [3,4,5]
Explanation: The middle node of the list is node 3.

Input: head = [1,2,3,4,5,6]
Output: [4,5,6]
Explanation: Since the list has two middle nodes with values 3 and 4, we return the second one.

In [54]:
import numpy as np
l = [1,2,3,4,5,6]
def midOfTheList(l):
    med = np.median(l)
    if isinstance(med,int):
        med1 = med
    else:
        med1 = int(med.round())
    pos = l.index(med1)
    return l[pos:]

midOfTheList(l)

[4, 5, 6]

In [56]:
l = [1,2,3,4,5]
midOfTheList(l)

[3, 4, 5]

## Remove Linked List Elementshead

Given the head of a linked list and an integer val, remove all the nodes of the linked list that has Node.val == val, and return the new head

Example 1:
Input: head = [1,2,6,3,4,5,6], val = 6
Output: [1,2,3,4,5]

Example :

Input: head = [], val = 1
Output
: []
Examle 3:

Input: head = [7,7,7,7], val = 7
Output: []

In [77]:
def removeElement(l, val):
    if val in l:
        result = [i for i in l if i != val]
    else:
        result = l
    return result

In [79]:
l = [1,2,6,3,4,5,6]
val = 6
print(removeElement(l, val))

[1, 2, 3, 4, 5]

In [81]:
l = []
val = 1
print(removeElement(l, val))

[]

In [83]:
l = [7,7,7,7]
val = 7
print(removeElement(l, val))

[]

## Remove Duplicates from Sorted Listell.

Given the head of a sorted linked list, delete all duplicates such that each element appears only once. Return the linked list sorted as well.

Input: head = [1,1,2]
Output: [1,2]

Input: head = [1,1,2,3,3]
Output: [1,2,3]

In [93]:
def removeDuplicate(l):
    return list(set(l))
l= [1,1,2,3,3]
removeDuplicate(l)

[1, 2, 3]

In [95]:
l= [1,1,2]
removeDuplicate(l)

[1, 2]

# Delete Node in a Linked List

Input: head = [4,5,1,9], node = 5
Output: [4,1,9]
Explanation: You are given the second node with value 5, the linked list should become 4 -> 1 -> 9 after calling your function.


Input: head = [4,5,1,9], node = 1
Output: [4,5,9]
Explanation: You are given the third node with value 1, the linked list should become 4 -> 5 -> 9 after calling your function.

In [98]:
l= [4,5,1,9]
node = 5
removeElement(l, node)

[4, 1, 9]

In [100]:
l= [4,5,1,9]
node = 1
removeElement(l, node)

[4, 5, 9]

## Intersection of Two Arrays IIder.

Given two integer arrays nums1 and nums2, return an array of their intersection. Each element in the result must appear as many times as it shows in both arrays and you may return the result in any order.

Example 1:

Input: nums1 = [1,2,2,1], nums2 = [2,2]
Output: [2
,2]
Exampl 2:

Input: nums1 = [4,9,5], nums2 = [9,4,9,8,4]
Output: [4,9]
Explanation: [9,4] is also accepted.

In [4]:
def intersectionArray(l1,l2):
    l3 = [i for i in l1 if i in l2]
    return l3

In [6]:
l1 = [1,2,2,1]
l2 = [2,2]
intersectionArray(l1,l2)

[2, 2]

In [8]:
l1 = [4,9,5]
l2 = [9,4,9,8,4]
intersectionArray(l1,l2)

[4, 9]

## Valid Palindrome II it.

Given a string s, return true if the s can be palindrome after deleting at most one character from it.

Example 1:
Input: s = "aba"
Output: true

Example 2:
Input: s = "abca"
Output: true
Explanation: You could delete the character 'c'.

Example 3:
Input: s = "abc"
Output: false

In [13]:
def palindromCheck(text):
    return True if text==text[::-1] else False

In [15]:
text = "aba"
palindromCheck(text)

True

In [17]:
text = "abca"
palindromCheck(text)

False

# Valid Anagram

Given two strings s and t, return true if t is an anagram of s, and false otherwise.

Example 1:
Input: s = "anagram", t = "nagaram"
Output: true

Example 2:
Input: s = "rat", t = "car"
Output: false

In [29]:
def validAnagram(str1,str2):
    s = list(set([i for i in str1]))
    t = list(set([i for i in str2]))
    return True if s == t else False

In [31]:
s = "anagram"
t = "nagaram"
validAnagram(s,t)

True

In [33]:
s = "rat"
t = "car"
validAnagram(s,t)

False

## Add Binary

Given two binary strings a and b, return their sum as a binary string.

Example 1:
Input: a = "11", b = "1"
Output: "100"

Example 2:
Input: a = "1010", b = "1011"
Output: "10101"

In [42]:
def addBinary(s1,s2):
    return int(s1)+int(s2)

In [46]:
a = "11"
b = "1"
addBinary(a,b)

12

In [52]:
import numpy as np
def addBinary(s1,s2):
    return sum([int(s1),int(s2)])

a = "11"
b = "1"
addBinary(a,b)

12

## Island Perimeter island.

You are given row x col grid representing a map where grid[i][j] = 1 represents land and grid[i][j] = 0 represents water.
Grid cells are connected horizontally/vertically (not diagonally). The grid is completely surrounded by water, and there is exactly one island (i.e., one or more connected land cells).
The island doesn't have "lakes", meaning the water inside isn't connected to the water around the island. One cell is a square with side length 1. The grid is rectangular, width and height don't exceed 100. Determine the perimeter of the island.

Example: 1
Input: grid = [[0,1,0,0],[1,1,1,0],[0,1,0,0],[1,1,0,0]]
Output: 16
Explanation: The perimeter is the 16 yellow stripes in the image above
.
Example2:

Input: grid = [[1]]
Outp
ut: 4
Exaple 3:

Input: grid = [[1,0]]
Output: 4

In [72]:
def islandPerimeter(grid):
    perimeter = 0
    rows = len(grid)
    cols = len(grid[0])

    for i in range(rows):
        for j in range(cols):
            if grid[i][j] == 1:
                perimeter += 4
                if i > 0 and grid[i-1][j] == 1:
                    perimeter -= 1
                if i < rows - 1 and grid[i+1][j] == 1:
                    perimeter -= 1
                if j > 0 and grid[i][j-1] == 1:
                    perimeter -= 1
                if j < cols - 1 and grid[i][j+1] == 1:
                    perimeter -= 1

    return perimeter

In [74]:
l = [[0,1,0,0],[1,1,1,0],[0,1,0,0],[1,1,0,0]]
islandPerimeter(l)

16

In [76]:
l = [[1,0]]
islandPerimeter(l)

4

## Squares of a Sorted Array
Given an integer array nums sorted in non-decreasing order, return an array of the squares of each number sorted in non-decreasing order.

Example 1:

Input: nums = [-4,-1,0,3,10]
Output: [0,1,9,16,100]
Explanation: After squaring, the array becomes [16,1,0,9,100].
After sorting, it becomes [0,1,9,16,
100].
Example 2:

Input: nums = [-7,-3,2,3,11]
Output: [4,9,9,49,121]

In [107]:
def sqaureSortedArray(l):
    return sorted([i**2 for i in l])

In [109]:
l = [-4,-1,0,3,10]
sqaureSortedArray(l)

[0, 1, 9, 16, 100]

In [111]:
l = [-7,-3,2,3,11]
sqaureSortedArray(l)

[4, 9, 9, 49, 121]

## First Unique Character in a String

Given a string s, find the first non-repeating character in it and return its index. If it does not exist, return -1.

Example 1:

Input: s = "leetcode"
Output: 0
Explanation: The character 'l' at index 0 is the first character that does not occur at any other index.

Example 2:
Input: s = "loveleetcode"
Output: 2

Example 3:
Input: s = "aabb"
Output: -1

In [162]:
def uniqCharIndex(s):
    l = [i for i in s]
    result = -1
    for i in l:
        if l.count(i) == 1:
            result = l.index(i)
            break
    return result

In [164]:
s = "leetcode"
uniqCharIndex(s)

0

In [166]:
s = "loveleetcode"
uniqCharIndex(s)

2

In [168]:
s = "aabb"
uniqCharIndex(s)

-1

## Two Sum II - Input Array Is Sorted
Given a 1-indexed array of integers numbers that is already sorted in non-decreasing order, find two numbers such that they add up to a specific target number. Let these two numbers be numbers[index1] and numbers[index2] where 1 <= index1 < index2 <= numbers.length.

Return the indices of the two numbers, index1 and index2, added by one as an integer array [index1, index2] of length 2.

The tests are generated such that there is exactly one solution. You may not use the same element twice.

Your solution must use only constant extra space.

Example 1:
Input: numbers = [2,7,11,15], target = 9
Output: [1,2]
Explanation: The sum of 2 and 7 is 9. Therefore, index1 = 1, index2 = 2. We return [1, 2].

Example 2:
Input: numbers = [2,3,4], target = 6
Output: [1,3]
Explanation: The sum of 2 and 4 is 6. Therefore index1 = 1, index2 = 3. We return [1, 3].

Example 3:
Input: numbers = [-1,0], target = -1
Output: [1,2]
Explanation: The sum of -1 and 0 is -1. Therefore index1 = 1, index2 = 2. We return [1, 2].

In [201]:
def sumArray(l,target):
    for i in range(len(l)):
        for j in range(i,len(l)):
            if i != j and l[i]+l[j]==target:
                print(list([(l.index(l[i])+1),(l.index(l[j])+1)]))
                break

In [203]:
numbers = [2,7,11,15]
target = 9
sumArray(numbers,target)

[1, 2]

In [205]:
numbers = [2,3,4]
target = 6
sumArray(numbers,target)

[1, 3]

In [207]:
numbers = [-1,0]
target = -1
sumArray(numbers,target)

[1, 2]

## Happy Numberies
Write an algorithm to determine if a number n is happy.

A happy number is a number defined by the following process:

Starting with any positive integer, replace the number by the sum of the squares of its digits.
Repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle which does not include 1.
Those numbers for which this process ends in 1 are happy.
Return true if n is a happy number, and false if not.

Example 1:

Input: n = 19
Output: true
Explanatio^2:
1^2 + 92 =^ 82
^82 + 22 ^= 68^
62 + 82 ^= 100^
12 + 02 +
 02 = 1
Eample 2:

Input: n = 2
Output: false

In [218]:
def is_happy(n):
    seen = set()
    
    while n != 1:
        # Calculate the sum of squares of digits
        n = sum(int(digit) ** 2 for digit in str(n))
        
        # Check if we've seen this number before
        if n in seen:
            return False
        seen.add(n)
    
    return True

In [220]:
is_happy(19)

True

In [222]:
is_happy(2)

False

## Pascal's Triangle


es
Given an integer numRows, return the first numRows of Pascal's trianl
e.

In Pascal's triangle, each number is the sum of the two numbers directly above it as shown:

In [269]:
def generate_pascals_triangle(numRows):
    triangle = []
    for i in range(numRows):
        # Start with a row of all 1's
        row = [1] * (i + 1)
        # Calculate the intermediate values if the row has more than 2 elements
        for j in range(1, i):
            row[j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
        # Add the row to the triangle
        triangle.append(row)
    
    return triangle
numRows = 5
result = generate_pascals_triangle(numRows)
print(result)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [257]:
for j in range(1,4):
    print(j)

1
2
3

## Missing Number

es
Given an array nums containing n distinct numbers in the range [0, n], return the only number in the range that is missing from the array.

Example 1:
Input: nums = [3,0,1]
Output: 2
Explanation: n = 3 since there are 3 numbers, so all numbers are in the range [0,3]. 2 is the missing number in the range since it does not appear in nums.

Example 2:
Input: nums = [0,1]
Output: 2
Explanation: n = 2 since there are 2 numbers, so all numbers are in the range [0,2]. 2 is the missing number in the range since it does not appear in nums.

Example 3:
Input: nums = [9,6,4,2,3,5,7,0,1]
Output: 8
Explanation: n = 9 since there are 9 numbers, so all numbers are in the range [0,9]. 8 is the missing number in the range since it does not appear in nums.

In [274]:
def missingNumber(l):
    for i in range(len(l)+1):
        if i not in l:
            print(i)

In [278]:
nums = [3,0,1]
missingNumber(nums)

2

In [280]:
nums = [0,1]
missingNumber(nums)

2

In [282]:
nums = [9,6,4,2,3,5,7,0,1]
missingNumber(nums)

8

## Counting Bits

Given an integer n, return an array ans of length n + 1 such that for each i (0 <= i <= n), ans[i] is the number of 1's in the binary representation of i.

Example 1:

Input: n = 2
Output: [0,1,1]
Explanation:
0 --> 0
1 --> 1
2 --> 10
Example 2:

Input: n = 5
Output: [0,1,1,2,1,2]
Explanation:
0 --> 0
1 --> 1
2 --> 10
3 --> 11
4 --> 100
5 --> 101

In [347]:
def countBits(n):
    output_list = []
    for i in range(n+1):
        bin_val = [i for i in bin(i)[2:]]
        one_count = bin_val.count('1') 
        output_list.append(one_count)
            
    return output_list

In [349]:
countBits(5)

[0, 1, 1, 2, 1, 2]

In [351]:
countBits(2)

[0, 1, 1]

## Remove Duplicates from Sorted Array

Given an integer array nums sorted in non-decreasing order, remove the duplicates in-place such that each unique element appears only once. The relative order of the elements should be kept the same. Then return the number of unique elements in nums.

Consider the number of unique elements of nums to be k, to get accepted, you need to do the following things:

Change the array nums such that the first k elements of nums contain the unique elements in the order they were present in nums initially. The remaining elements of nums are not important as well as the size of nums.
Return k.

Example 1:

Input: nums = [1,1,2]
Output: 2, nums = [1,2,_]
Explanation: Your function should return k = 2, with the first two elements of nums being 1 and 2 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).
Example 2:

Input: nums = [0,0,1,1,1,2,2,3,3,4]
Output: 5, nums = [0,1,2,3,4,_,_,_,_,_]
Explanation: Your function should return k = 5, with the first five elements of nums being 0, 1, 2, 3, and 4 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).

In [377]:
def removeDuplicate(l):
    uniqList = list(set(sorted(l)))
    for i in range(len(uniqList),len(l)):
        if l[i] not in uniqList:
            uniqList.append(l[i])
        else:
            uniqList.append('-')
    return uniqList

In [379]:
l = [1,1,2]
removeDuplicate(l)

[1, 2, '-']

In [381]:
l = [0,0,1,1,1,2,2,3,3,4]
removeDuplicate(l)

[0, 1, 2, 3, 4, '-', '-', '-', '-', '-']

## Find All Numbers Disappeared in an Array

Given an array nums of n integers where nums[i] is in the range [1, n], return an array of all the integers in the range [1, n] that do not appear in nums.

Example 1:

Input: nums = [4,3,2,7,8,2,3,1]
Output: [5,6]
Example 2:

Input: nums = [1,1]
Output: [2]

In [390]:
def disappearNum(nums):
    output = []
    for i in range(1,len(nums)+1):
        if i not in nums:
            output.append(i)
    return output

In [392]:
nums = [4,3,2,7,8,2,3,1]
disappearNum(nums)

[5, 6]

In [394]:
nums = [1,1]
disappearNum(nums)

[2]

## Search Insert Position
Given a sorted array of distinct integers and a target value, return the index if the target is found. If not, return the index where it would be if it were inserted in order.

You must write an algorithm with O(log n) runtime complexity.

Example 1:

Input: nums = [1,3,5,6], target = 5
Output
: 2
Exampl 2:

Input: nums = [1,3,5,6], target = 2
Ou
tput: 1
Exmple 3:

Input: nums = [1,3,5,6], target = 7
Output: 4

In [455]:
def searchInsertPosition(nums,target):
    result = 0
    if target in nums:
        result = nums.index(target)
    else:
        nums.append(target)
        nums = sorted(nums)
        result = nums.index(target)
    return result

In [457]:
nums = [1,3,5,6]
target = 5
searchInsertPosition(nums,target)

2

In [459]:
nums = [1,3,5,6]
target = 2
searchInsertPosition(nums,target)

1

In [461]:
nums = [1,3,5,6]
target = 7
searchInsertPosition(nums,target)

4

In [449]:
nums = [1,3,5,6]
target = 2
def if target in nums:
    print(nums.index(target))
else:
    nums.append(target)
nums = sorted(nums)
print(nums.index(target))

1